<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark h-100">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
<!--        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-h-square"></i></div>-->
            <img style="width:38px; height: 38px" th:src="@{/assets/img/login_register/hh_logo.svg}">
            <div class="sidebar-brand-text ms-1"><span>hypertension</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/index}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}"><i class="fas fa-user"></i><span>Profile</span></a>
            </li>
            <li class="nav-item" th:if="${#strings.trim(#authentication.principal.userRole) == 'DOCTOR'}">
                <a class="nav-link" th:href="@{/all-patients}"><i class="fas fa-table"></i><span>Patients</span></a>
            </li>
            <li class="nav-item" th:if="${#strings.trim(#authentication.principal.userRole) == 'ADMIN'}">
                <a class="nav-link" th:href="@{/register-all}"><i class="far fa-id-badge"></i><span>Register Users</span></a>
            </li>
            <li class="nav-item" th:if="${#strings.trim(#authentication.principal.userRole) == 'ADMIN'}">
                <a class="nav-link" th:href="@{/settings}"><i class="far fa-sun"></i><span>Settings</span></a>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" th:href="@{/login}"><i class="far fa-user-circle"></i><span>Login</span></a>
            </li>
            <li class="nav-item">
                <a sec:authorize="isAnonymous()" th:if="${#strings.trim(#authentication.principal.userRole) == 'PATIENT'}" class="nav-link" th:href="@{/register}">
                    <i class="fas fa-user-circle"></i><span>Register</span>
                </a>
                <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">
                    <i class="far fa-times-circle"></i><span>Logout</span>
                </a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>